html {
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#chart {
    width: 100%;
    
    rect, polygon {
        stroke-width: 5px;
        stroke: black;
        fill: white;

        .selected {
            fill: lightskyblue;
        }

        .amalgam {
            fill: grey;
        }

        .extract {
            fill: black !important;
        }
    }
}

select, button {
    /*width: 20em;
    height: 3em;*/
    font-size: 2em;
}
